<div class="container-full">
  <form action="" method="post">
    
    <div class="forum-text">
      <label for="Temp" class="description">Temp</label>
      <input type="text" name="Temp" value="90">
    </div>

    <div class="container-full">
      <div class="container-half">
        <div class="description">From</div>
        <input type="radio" name="InputMeasurement" id="inC" value="C" checked="checked">
        <label for="inC">Celcius</label>
        <input type="radio" name="InputMeasurement" id="inF" value="F">
        <label for="inF">Ferinheight</label>
        <input type="radio" name="InputMeasurement" id="inK" value="K">
        <label for="inK">Kelvin</label>
      </div>
    
      <div class="container-half">
        <div class="description">To</div>
        <input type="radio" name="OutputMeasurement" id="outC" value="C" checked="checked">
        <label for="outC">Celcius</label>
        <input type="radio" name="OutputMeasurement" id="outF" value="F">
        <label for="outF">Ferinheight</label>
        <input type="radio" name="OutputMeasurement" id="outK" value="K">
        <label for="outK">Kelvin</label>
      </div>
    </div>
    <div class="container-full">
      <input type="submit" value="Convert">
    </div>
  </form>
</div>